<div class="container-fluid" style="margin-top: 100px;">
    <div class="owl-carousel">
        <div> <img class="img-responsive" src="../img/carousel/img2.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img1.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img3.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img4.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img5.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img6.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img7.jpg" alt="Jasper"> </div>
        <div> <img class="img-responsive" src="../img/carousel/img8.jpg" alt="Jasper"> </div>
    </div>
</div>

<div class="container" style="margin-top: 50px;">
    <div>
        <h1>Hello World!</h1>
        <p class="lead">My name is Muhammad Awais Qureshi, a programmer, developer, teacher, photography enthusiast and most importantly learner! I aspire to become the best version of myself possible in every aspect, and hopefully build towards and contribute to something
            bigger in the future.</p>
    </div>

    <div class="words">
        <h1>Words I live by:</h1>
        <blockquote>
            <p>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</p>
            <small>Colin Powell</small>
        </blockquote>
    </div>

    <p class="lead">These are the words I live by. Simple, precise and to the point. This quote describes life in one, realistic sentence and carries alot of weight. I hope these words also inspire you to not be discouraged on failures, make a difference and never stop
        learning!
    </p>
</div>