<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                <dl>
                    <dt>Apr 2017</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">Apr 14</div>
                        <div class="events" style="background-color: #37bc9b">
                            <div class="events-body">
                                <img class="img-rounded" src="../img/projects/Emoji/Emoji.png" width="75%" height="50%"><br>
                                <h4 class="events-heading"> Emoji Password Tester</h4><br>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#emoji" type="button">More info</button>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">Apr 02</div>
                        <div class="events" style="background-color: lightgrey">
                            <div class="events-body">
                                <img class="img-rounded" src="../img/projects/MEANauth/MEANauth.png" width="75%" height="50%"><br>
                                <h4 class="events-heading"> Emoji Password Tester</h4><br>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#auth" type="button">More info</button>
                            </div>
                        </div>
                    </dd>
                    <dt>Mar 2017</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">Mar 28</div>
                        <div class="events" style="background-color: #37bc9b">
                            <div class="events-body">
                                <h4 class="events-heading">Mealshare Onboarding Package</h4>
                                <p>Worked for Mealshare, to automate their restaurant signup process</p>
                                <p>Created an online step-wizard form which automatically added restaurants into Mealshare's Salesforce</p>
                                <p>Was part of the Random Hacks of Kindness (RHOK) event hosted at Abobe</p>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">Mar 30</div>
                        <div class="events" style="background-color: lightgrey">
                            <div class="events-body">
                                <h4 class="events-heading">Carleton University Net Income Calculator System (cuNICS)</h4>
                                <p>Led a team of three students in building a Payroll System for a university environment</p>
                                <p>cuNICS uses the best Software Engineering Principles, and brings a clean & intuitive UI to the end-user for easy navigation</p>
                            </div>
                        </div>
                    </dd>
                    <dt>February 2017</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">Feb 4</div>
                        <div class="events" style="background-color: #37bc9b">
                            <div class="events-body">
                                <h4 class="events-heading">Chat-It</h4>
                                <p>Created a new way for people to share their travels to other endeavouring travelers</p>
                                <p>Chat-It lets users create itineraries of their travels that others can use to plan their travels</p>
                                <p>The app is connected to Twilio's SMS service which lets users text their location, and get back the top-rated location and activity in their area</p>
                            </div>
                        </div>
                    </dd>
                    <dt>December 2016</dt>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">Dec 23</div>
                        <div class="events" style="background-color: lightgrey">
                            <div class="events-body">
                                <h4 class="events-heading">MAGS-OS</h4>
                                <p>Led a team of four other members in building a new Operating System</p>
                                <p>This project extends on an open source OS project called the baskernel</p>
                                <p>Added a keyboard driver, which allowed users to communicate with the OS</p>
                                <p>Added pre-set commands which allowed users to get system specifics</p>
                                <p>Resulted in a new Opeating System with better end-user functionality</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div id="emoji" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">EMOJI PASSWORD SCHEME</h4>
                </div>
                <div class="modal-body">
                    <p>An Emoji Password Scheme that tests users in their ability to remember three different Emoji Passwords.</p>
                    <p>Frameworks/Tools: <strong>ExpressJS, jQuery, Bootstrap</strong></p>
                    <p>Language(s): <strong>Javascript, HTML5, CSS3</strong></p>
                    <p class="links">
                        <a href="https://github.com/awaisabir/EmojiPassword" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                        <a href="https://emojipassword.herokuapp.com" target="_blank"><i class="fa fa-link fa-2x" aria-hidden="true"></i></a>
                    </p>
                    <div class="text-center">
                        <img src="../img/projects/Emoji/Emoji.png">
                        <img src="../img/projects/Emoji/Emoji2.png">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="auth" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">AUTHENTICATION APP</h4>
                </div>
                <div class="modal-body">
                    <p>A MEAN stack application which emulates proper tokenization through access JWTs, together with protected routes, and database storage.</p>
                    <p>Frameworks/Tools: <strong>MongoDB, ExpressJS, Angular2, NodeJS, PassportJS, Bootstrap, POSTMAN</strong></p>
                    <p>Language(s):<strong>Typescript, Javascript, HTML5, CSS3</strong></p>
                    <p class="links">
                        <a href="https://github.com/awaisabir/MEANauth" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                        <a id="no-access"><i class="fa fa-link fa-2x" aria-hidden="true"></i></a>
                    </p>
                    <div class="text-center">
                        <img src="../img/projects/MEANauth/MEANauth.png">
                        <img src="../img/projects/MEANauth/profile.png">
                        <img src="../img/projects/MEANauth/postman1.png">
                        <img src="../img/projects/MEANauth/postman2.png">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>