<div class="container"> 
	<div class="jumbotron">
		<h2>Contact Info</h2>
	</div>
</div>


<div class="row" style="padding-top: 200px">
    <div class="col-md-8 col-md-offset-2 text-center">
        <div class="col-sm-4">
            <i class="fa fa-linkedin-square fa-5x"></i>
            <p id="p01">
            	<a href="https://ca.linkedin.com/in/awaisabir" target="_blank">
                Linkedin 
            	</a>
            </p>
        </div>

        <div class="col-sm-4 outline">
            <i class="fa fa-envelope fa-5x"></i>
            <p id="p01">
            	awais.qureshi@carleton.ca
            </p>
        </div>

        <div class="col-sm-4 outline">
            <i class="fa fa-skype fa-5x"></i>
            <p id="p01">
               	Skype-ID: awaisabir
            </p>
        </div>     
    </div>
</div>