<div class="container">
		<h2>Contact Info</h2>
</div>

<div class="jumbotron" style="margin-top: 150px;" id="contact-jumbo">
		<div class="col-md-8 col-md-offset-2 text-center">
	        <div class="col-sm-4">
	            	<a href="https://ca.linkedin.com/in/awaisabir" target="_blank">
								<i class="fa fa-linkedin-square fa-5x"></i>
			          <p id="p01">
	                Linkedin
	            </p>
						</a>
	        </div>

	        <div class="col-sm-4 outline" style="color: black;">
							<i class="fa fa-google fa-5x"></i>
		            <p id="p01">
		            	awaisabirqureshi@gmail.com
		            </p>
	        </div>

	        <div class="col-sm-4 outline" style="color: black;">
	            <i class="fa fa-skype fa-5x"></i>
	            <p id="p01">
	               	Skype-ID: awaisabir
	            </p>
	        </div>
	    </div>
</div>
