<h2> Hello, world! </h2>


<div class="jumbotron" id="home-jumbo">
		<div class="container">
	  	<h1>Words to live by:</h1>
	  <blockquote>
	    <p id="p03">There are no secrets to <u>success</u>. It is the result of preparation, hard work, and learning from failure.</p>
	    <footer>Colin Powell</footer>
	  </blockquote>

	  <p id="p01"> These are the words I live by. Simple, precise and to the point. This quote describes life in one, realistic sentence and carries alot of weight. I hope these words also inspire you to not be discouraged on failures, make a difference and never stop learning!</p>
	</div>
</div>

<div style="text-align: center; margin-top: 50px;">
	<img src="images/main_pic.jpg" class="img-thumbnail"  width="304" height="236" align="middle" style="border-color: black;">
	<p id="p01">Thank you for visiting, </p>
	<p id="p01">Muhammad Awais Qureshi </p>
</div>
