<header id="header">
	<div class="jumbotron">
		<div class="container">
			<h2>
				Muhammad Q.
			</h2>
		</div>
	</div>
</header>

<div id="section">
	<h3>
		About:
	</h3>
</div>

<aside>
	<div class="col-sm-9">
		<div class="panel panel-primary panel-transparent">
			<p id="p01">
				I am a newcomer to the world of Web Developement, but not to the world of Computer Science. I have always been intrigued with what makes the technology of today function. With this interest and passion at heart, I give my utmost effort to any Computer Science related activity/project, be it a web-page, program or application.
			</p>

			<p id="p01">
				Apart from this, I also enjoy photography of urban developements and the "great outdoors". I will soon be making a blog of my travels, so stay tuned for that!
			</p>
		</div>
	</div>
</aside>


<div id="section">
	<h3>
		Work(s):
	</h3>
</div>
<aside>
	<div class="col-sm-9">
		<div class="panel panel-primary panel-transparent">
			<p id="p01">
				Find some of my works <a href="#/projects" target="_blank">here.</a> And all of them on my <a href="http://github.com/awaisabir" target="_blank">github.</a>
			</p>
		</div>
	</div>
</aside>

<div id="section">
	<h3>
		Education:
	</h3>
</div>
<aside>
	<div class="col-sm-9">
		<div class="panel panel-primary panel-transparent">
			<p id="p01">
				<strong>Carleton University</strong>

			<span style="float:right">
				September 2014 - present</span>

			</p>
			<ul>
				<li>
					<p id="p01">
						Bachelor of Computer Science (Honors)
					</p>
				</li>
			</ul>

			<p id="p01">
				<strong>Father Michael Goetz Catholic Secondary School</strong>
			
				<span style="float:right">September 2011 - June 2014</span>
			</p>

			<ul>
				<li>
					<p id="p01"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Ontario Secondary School Diploma</li>
			</ul>
		</div>
	</div>
</aside>

<div id="section">
	<h3>Skills:</h3>
</div>
<aside>
	<div class="col-sm-9">
		<div class="panel panel-primary panel-transparent">
			<p id="p01"><strong><u>C-style</u></strong></p>
				<ul id="menu">
					<li>-C</li>
					<li>-C++</li>
					<li>-Java</li>
					<li>-Processing</li>
				</ul>
			<hr></hr>

			<p id="p01"><strong><u>Web Applications</u></strong></p>
				<ul id="menu">
					<li>-JavaScript</li>
					<li>-HTML</li>
					<li>-AngularJS</li>
					<li>-Express</li>
					<li>-nodeJS</li>
					<li>-mongoDB</li>
					<li>-jQuery</li>
					<li>-Jade</li>
				</ul>

			<hr></hr>

			<p id="p01"><strong><u>Shell Scripting</u></strong></p>
				<ul id="menu">
					<li>-Bash</li>
				</ul>
		</div>	
	</div>
</aside>



<div id="section">
	<h3>Languages:</h3>
</div>
<aside>
	<div class="col-sm-9">
		<div class="panel panel-primary panel-transparent">
			<ul id="menu">
				<li>-English(Native)</li>
				<li>-Urdu(Native)</li>
				<li>-Punjabi (Conversational)</li>
				<li>-Hindi (Conversational)</li>
				<li>-Arabic (Conversational)</li>
			</ul>
		</div>
	</div>
</aside>







