<h2>Projects</h2>


<div class="jumbotron" style="margin-top: 50px; text-align:center;">
	<div class="container">
		<p id="p01">
			Welcome to my projects page! This page will direct you to all the projects I was able to build either through school, or independent work. Feel free to select a language from below, which should direct you the corrseponding page (unless there is an error I did not fix!)
		</p>
		<div class="jumbotron" id="contact-jumbo">
			<p>C++</p>
			<p>C</p>
			<p>Processing 2.0</p>
			<p>Java</p>
			<p>MEAN</p>
			<p>ReactJs</p>
		</div>
	</div>
</div>
