<div class="jumbotron" id="projects-jumbo">
	<h2>Projects</h2>
</div>

<div class="container-fluid" style="margin-top: 50px">
	<div class="row text-center">
			<div class="col-md-4 col-sm-4 col-xs-4" style="padding-top: 10px;"><i class="devicon-cplusplus-plain colored" style="font-size:4.5rem;"></i><input type="checkbox" ng-model="cplusplus"></div>
			<div class="col-md-4 col-sm-4 col-xs-4" style="padding-top: 10px;"><i class="devicon-c-plain colored" style="font-size:4.5rem;"></i><input type="checkbox" ng-model="c"></div>
			<div class="col-md-4 col-sm-4 col-xs-4" style="padding-top: 10px;"><img src="../images/processingLogo-3.png" width="50" height="50"><input type="checkbox" ng-model="Processing"></div>
	</div>
</div>


<div ng-show="Processing">
	<div class="grid">
		<figure class="effect-julia">
			<img src="images/breakout1.png"></img>
			<figcaption>
				<p id="p01">
					<strong><u>BREAKOUT GAME</u></strong>
				</p>
				<p id="p01">
					Made using Processing 2.2
				</p>
				<p id="p01">
					Uses a 2D array system
				</p>
				<p id="p01">
					Real ball movements
				</p>
			</figcaption>
		</figure>
		<figure class="effect-julia">
			<img src="images/breakout2.png"></img>
			<figcaption>
				<p id="p01">
					Simple points system
				</p>
				<p id="p01">
					Interactive game rules
				</p>
				<p id="p01">
					Eye-catching colors
				</p>
				<p id="p01">
					Three lives to do it!
				</p>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-8 col-md-offset-2 text-center">
		<p id="p04">
			Breakout(<a href="https://github.com/awaisabir/ProcessingVentures/tree/master/Breakout" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>)
		</p>
		<p id="p04">You have three lives to win the game.. Let's get to it!</p>
		<hr>
	</div>

	<div class="grid">
		<figure class="effect-julia">
			<img src="images/Memory_Game.png"></img>
			<figcaption>
				<p id="p01"><strong><u>
					Memory Game
				</u></strong></p>
				<p id="p01">
					Uses a 2D array setup
				</p>
				<p id="p01">
					Simplistic & Fun!
				</p>
			</figcaption>
		</figure>
		<figure class="effect-julia">
			<img src="images/Memory_Game1.png">
			<figcaption>
				<p id="p01">
					Mouse click(s) start the game
				</p>
				<p id="p01">
					Randomized colors
				</p>
				<p id="p01">
					Coded in Processing 2.2
				</p>
			</figcaption>
		</figure>
	</div>


	<div class="col-md-8 col-md-offset-2 text-center">
		<p id="p04">
			Memory Game(<a href="https://github.com/awaisabir/MatchingGame" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>)
		</p>
		<p id="p04">
			Simple Memory Game with random colors each game
		</p>
		<hr>
	</div>
</div>

<div ng-show="c">
	<div class="grid">
		<figure class="effect-julia">
			<img src="images/movie_database1.png"></img>
			<figcaption>
				<p id="p01"><strong><u>
					Movie Database
				</u></strong></p>
				<p id="p01">
					Uses a Doubly Linked List
				</p>
				<p id="p01">
					Interactive UI
				</p>
				<p id="p01">
					Coded in old-style C
				</p>
			</figcaption>
		</figure>
		<figure class="effect-julia">
			<img src="images/movie_database2.png">
			<figcaption>
				<p id="p01">
					Any number of movies!
				</p>
				<p id="p01">
					Simple to use menu system
				</p>
				<p id="p01">
					All deallocation of memory
				</p>
				<p id="p01">
					Minimalistic in design
				</p>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-8 col-md-offset-2 text-center">
		<p id="p04">
			Movie Database(<a href="https://github.com/awaisabir/MovieDatabase" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>)
		</p>
		<p id="p04">
			Movie database made using a Doubly-Linked List with a simple UI
		</p>
		<hr>
	</div>
</div>

<div ng-show="cplusplus">
	<div class="grid">
		<figure class="effect-julia">
			<img src="images/bookstore.png"></img>
			<figcaption>
				<p id="p01"><strong><u>
					Bookstore System
				</u></strong></p>
				<p id="p01">
					Uses a Doubly Linked List
				</p>
				<p id="p01">
					Overloads Operators
				</p>
				<p id="p01">
					Interactive UI
				</p>
				<p id="p01">
					Dynamic Memory Allocation
				</p>
				<p id="p01">
					Proper Deallocation
				</p>
			</figcaption>
		</figure>
		<figure class="effect-julia">
			<img src="images/bookstore3.png">
			<figcaption>
				<p id="p01">
					Structured Inehritence
				</p>
				<p id="p01">
					Proper Encapsualtion
				</p>
				<p id="p01">
					Data Abstraction
				</p>
				<p id="p01">
					Complex Pointer Arithmetic
				</p>
				<p id="p01">
					Proper MVC Structure
				</p>
				<p id="p01">
					Coded in C++
				</p>
			</figcaption>
		</figure>
	</div>

	<div class="col-md-8 col-md-offset-2 text-center">
		<p id="p04">
			Bookstore Management System(<a href="https://github.com/awaisabir/BookStoreSystem" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>)
		</p>
		<p id="p04">
			Bookstore Management System which follows proper Software Engineering Principles - Data Abstraction, Encapsulation, MVC design and Inheritence, all combined in a simple & interactive UI.
		</p>
		<hr>
	</div>
</div>
